// UTILS
@use "../scss/variables" as *;

.debug {
  background-color: rgba(126, 181, 74, 0.284);
  border: 1px solid orange;
}
.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container {
  max-width: 1400px;
  width: 80%;
  height: 100%;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
