// UTILS
@use "../scss/variables" as *;

.debug {
  background-color: rgba(126, 181, 74, 0.284);
  border: 1px solid orange;
}
.wrapper {
  display: flex;
  justify-content: center;
}

.container {
  width: 80%;
  height: 100%;
}
